* {
    padding: 0;
    margin: 0;
}

body {
    /*径向渐变*/
    background: radial-gradient(lightblue, lightgray, lightgreen, lightsalmon) fixed 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
}

#wrap-all {
    margin: 0 auto;
    display: flex;
}

#wrap {
    margin: 0 auto;
}

table {
    border-spacing: 0;
    border: 2px solid #336699;
    background: #003366;
    border-radius: 10px;
}

td {
    width: 60px;
    height: 60px;
    border: 2px solid rgb(51, 102, 153);
    border-radius: 10px;
}

.bare {
    background-image: url(../images/bare.png);
}

.chicken {
    background-image: url(../images/chicken.png);
}

.dog {
    background-image: url(../images/dog.png);
}

.fish {
    background-image: url(../images/fish.png);
}

.forg {
    background-image: url(../images/forg.png);
}

.pig {
    background-image: url(../images/pig.png);
}

.bare, .chicken, .dog, .fish, .forg, .pig {
    background-size: contain;
    /*不能合并属性,否则background属性会覆盖background-image属性:-)*/
    background-repeat: no-repeat;
    background-position: center;
}